/.idea
/.tmp
/.vagrant
/node_modules
/public/css/app.css
/public/fonts
/public/hot
/public/js/app.js
/public/phpcs.xml
/public/phpmd.html
/public/storage
/resources/assets/bower
/staging
/storage/*.key
/storage/debugbar
/storage/logs
/storage/purify
/vendor
.env
Homestead.json
Homestead.yaml
notes.txt
npm-debug.log
tree.output.txt
yarn-error.log