/.idea
/.tmp
/.vagrant
/node_modules
/public/hot
/public/storage
/resources/assets/bower
/staging
/storage/*.key
/storage/debugbar
/storage/logs
/vendor
yarn-error.log
.env
Homestead.json
Homestead.yaml
npm-debug.log
notes.txt
tree.output.txt